body {
    background-color:#faf9f3db;
    box-sizing: border-box;
    font-size: 'Roboto';
}

.header {
   color: black;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.burger {
    display: none;
}

.nav {
    display: flex;
}

.nav_li {
    margin-right: 27px;
    font-size: 16px;
}

.btn-1 {
    width: 169px;
    height: 40px;
    background-color: #EF7F04;
    border-radius: 3px;
    border: #3B3A63;
    color: aliceblue;
    font-size: 13px;
}

.btn-1:hover {
    background-color: #f18e24a6;
    border: 2px solid #3B3A63;
    border-radius: 3px;
    font-weight: 700;
}

.btn-2 {
    width: 172px;
    height: 40px;
    background-color: #3B3A63;
    border: #3B3A63;
    border-radius: 3px;
    color: aliceblue;
    font-size: 13px;
}

.btn-2:hover {
    background-color: #3b3a6381;
    border: 2px solid #EF7F04;
    border-radius: 3px;
    font-weight: 700;
    
}

.header-block {
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 97px;
}

a {
    text-decoration: none;
}

a:hover {
    color: #EF7F04;
    border-top: 3px solid #EF7F04;
}


.services {
    max-width: 1200px;
    margin: 0 auto;
}

.section_title {
    font-size: 24px;
    font-weight: 700;
    color:  #2F2F51;
    text-align: center;
    margin-top: 67.75px;
    margin-bottom: 34px;
}

.serv_cont {
    
   
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-around;
    overflow: hidden;
}

.serv_card {
    width: 563px;
    height: 268px;
    border-radius: 3px;
    display:flex;
    justify-content: flex-end;
}
.serv_card:hover {
    box-shadow: -5px 5px 5px rgb(182, 179, 179);
}

.servCard_gradient {
    width: 596px;
    height: 268px;
    background-image: linear-gradient(90.45deg, #FFFFFF 47.56%, rgba(255, 255, 255, 0) 98.81%);
    border-radius: 3px;
    position: absolute;
    z-index: 2;
}

.servCard_txt {
    width: 416px;
  
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
   
}

.card_title {
    width: 280px;
    text-align: left;
    margin-left: 25px;
    font-size: 24px;
    font-weight: 700;
}


.opisanie {
    font-size: 16px;
    width: 300px;
    color: #2F2F51;
    padding-top: 20px;
}

.product_header {
    padding-top: 100px;
    max-width: 1200px;
    margin: 0 auto;
}

.product_title {
    font-size: 24px;
    font-weight: 700;
    color:  rgba(47, 47, 81, 1);
    text-align: center;
    margin-bottom: 42px;
}

.product_batton {
    width: 573px;
    margin: 0 auto;
}

.product_btn {
    width: 131px;
    height: 40px;
    border: 0px;
    border-radius: 3px;
    background-color: #faf9f3db;
    margin-bottom: 27px;
}
.product_btn:hover {
    color: #FFFFFF;
    background-color:  #EF7F04;
    box-shadow: -5px 5px 15px -3px rgba(34, 60, 80, 0.56);
}

.product_card {
    width: 1145px;
    height: 461px;
    margin: 0 auto;
    display: flex;
    background-color: #FFFFFF;
    margin-bottom: 54px;
}

.card-pict {
    width: 567px;
    height: 461px;
    background-image: url(../img/Rectangle\ 29.jpg);
}

.product_txt {
    width: 511px;
    height: 335px;
    background-color: #FFFFFF;
    margin-top: 74px;
    margin-left: 34.5px;
}

.pCard_title {
    font-size: 36px;
    font-weight: 700;
    color: #EF7F04;
}

.pCard_content {
    width: 308px;
    margin-top: 25px;
    margin-bottom: 35px;
    font-size: 16px;
}

.pCard_param {
    margin-bottom: 25px;
    font-weight: bold;
}

.feedback {
    height: 562px;
    background-image: url(../img/feedback.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.cont_feedback {
    height: 562px;
    max-width: 1200px;
    margin: auto;
    display: flex;
}

.mission_cont {
    width: 575px;
    height: 562px;
    margin-left: 73px;
}

.mission_txt {
    padding-top: 129px;
}

.misTxt_1 {
    font-size: 24px;
    font-weight: bold;
    color: #EF7F04;
    line-height: 38px;
}

.misTxt_2 {
    font-family: 'Roboto';
    font-size: 36px;
    font-weight: 100;
    color: #fff;
    line-height: 42px;
}

.advantages {
    display: flex;
    height: 311px;
    width: 575px;
    justify-content: center;
}

.advantages_item {
   
    height: 256px;
    flex: 1 1 auto;
    margin: 0 5px;
}

.winGoodIcon {
    padding-top: 18px;
    margin-left: -20px;
}

.allGoodIcon {
    padding-top: 18px;
    margin-left: 5px;
}

.advant_txt {
    width: 180px;
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    line-height: 18px;
}

.feedback_form {
    width: 406px;
    height: 426px;
    border-radius: 10px;
    background-color: #fff;
    margin-top: 69px;
    margin-left: 62px;
    text-align: center;
}

.fForm_header {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 700;
    padding-top: 43px;
    margin-bottom: 27px;
}

.fForm_input {
    height: 40px;
    width: 322.5px;
    margin-bottom: 15px;
    border: 0px;
    border-radius: 2px;
    background-color: #E2E2E2;
    padding-left: 16px;
}

.approval {
    display: flex;
    width: 322.5px;
    padding-left: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 30px;
}

.appr_link {
    font-weight: 600;
    color: darkblue;
}
.appr_link:hover {
    color: #3B3A63;
    border: 0px;
}

.appr_batton {
    width: 199px;
    height: 54.52px;
    border-radius: 3px;
    border: 0px;
    background-color: #EF7F04;
    font-size: 14px;
    color: #FFFFFF;
}

.appr_batton:hover {
    background-color: #f18e24a6;
    border: 2px solid #3B3A63;
    border-radius: 3px;
    font-weight: 700;
}

.roulette {
    margin-left: -89px;
    margin-top: -24px;
}

.cont_warrant {
    width: 1200px;
    margin: auto;
    background-image: url(../img/warrant_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 56px;
}

.warrant_head {
   padding-top: 35.5px;
    width: 303.5px;
    height: 94px;
    background-image: url(../img/warrant_head.png);
      background-repeat: no-repeat;
    background-position: center;
    margin:0 auto;
}

.warrant_iconCont {
    margin-top: 47px;
    margin-left: 42px;
    max-width: 1080px;
    height: 217px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.warrant_iconItem {
    width: 196px;
    height: 217px;
}

.img_card {
    width: 196px;
    height: 127px;
    text-align: center;
}

.txt_card {
    width: 196px;
    height: 90px;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.btn-2_ {
    width: 256px;
    height:54.5px;
    margin: 0 auto;
    display: block;    
    background-color: #3B3A63;
    border: #3B3A63;
    border-radius: 3px;
    color: aliceblue;
    font-size: 16px;
    font-weight: 700;
}

.btn-2_:hover {
    background-color: #3b3a6381;
    border: 2px solid #EF7F04;
    border-radius: 3px;
    font-weight: 700;
}

.aboutContainer {
    max-width: 1200px;
    margin: 0 auto;
}

.about_batton {
    width: 602px;
    margin: 0 auto;
}

.about_btn {
    width: 141px;
    height: 40px;
    border: 0px;
    border-radius: 3px;
    background-color: #faf9f3db;
    margin-bottom: 25px;
}

.about_btn:hover {
    color: #FFFFFF;
    background-color:  #EF7F04;
    box-shadow: -5px 5px 15px -3px rgba(34, 60, 80, 0.56);
}


.about_card {
    max-width: 1200px;
    height: 461px;
    margin-top: 25px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 68px;
}

.about_txt {
    width: 605px;
    background-color: white;
}

.about_txtTXT {
    width: 304px;
    margin-left: 248px;
    margin-top: 62px;
    font-size: 16px;
    font-weight: 400;
    color: #3B3A63;
    line-height: 22px;
}

.about_txtLogo {
    margin-left: 50px;
    margin-top: 46px;
}

.about_pic {
    width: 595px;
    height: 461px;
    background-image: url(../img/aboutPic.png);
    background-repeat: no-repeat;
}

.about_icon {
    max-width: 1200px;
  
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-around;
    margin-bottom: 82px;
}

.aboutIcon_item {
    width: 383px;
    height: 114px;
    display: flex;
    justify-content: space-around;
}

.aboutIcon_icon {
    width: 112px;
    text-align: center;
}

.aboutIcon_txt {
    width: 180px;
}

.icon_title {
    font-size: 16px;
    font-weight: 700;
    line-height: 36px;
}


.btn-1_ {
    width: 312px;
    height: 54px;
    display: block;
    margin: 0 auto;
    background-color: #EF7F04;
    border-radius: 3px;
    border: #EF7F04;
    color: aliceblue;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 87px;
}

.btn-1_:hover {
    background-color: #f18e24a6;
    border: 2px solid #3B3A63;
    border-radius: 3px;
    font-weight: 700;
}

.portfolio_container {
    max-width: 1200px;
    height: 410px;
    margin: 0 auto;
    background-color: #FFFFFF;
    padding-top: 49px;
}

.portfolio_container_item {
    width: 998px;
    height: 215px;
    margin-top: 48px;
    justify-content: space-between;
    display: flex;
    margin: 0 auto;
}

.portfolio_pic {
    width: 214.79px;
    height: 214.79px;
    object-fit: contain;
}

.questions_container {
    max-width: 1200px;

    padding-top: 40px;
    border-radius: 7px;
    background-color: #EF7F04;
    margin: 0 auto;
    margin-bottom: 18.25px;
}

.questions_title {
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 49px;
}

.quastions_block {
    max-width: 998px;
    margin: 0 auto;
    background-color: #EF7F04;
    padding-bottom: 40px;
}

.quastions__block {
    margin: 0 auto;
    background-color: #E2E2E2;
    color:#2F2F51;
    padding: 31px 30px 30px 19px;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 14px;
}

.answer {
    font-size: 16px;
    font-weight: 400;
    margin-top: 25px;
}

summary {
    display: block;
    cursor: pointer;
    background-image: url(../img/Vector\ 16.png);
    background-repeat: no-repeat;
    background-position: right;
}

summary:hover {
    color:#EF7F04;
    background-image: url(../img/Vector\ 19.png);
}



.contact_container {
    max-width: 1200px;
    margin: 0 auto;
}

.contact_block {
    max-width: 1112px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.contact_data {
    width: 598px;
    height: 565px;
    display: flex;flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    position: relative;
}

.contact_data_title {
    display: inline-block;width: 598px;
    height: 42px;
    font-size: 18px;
    font-weight: 700;
}

.contact_data_phone {
    display: inline-block;
    width: 250px;
    height: 42px;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
}

.contact_data_adress {
    display: inline-block;
    width: 497px;
    height: 42px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.contact_data_txt {
    display: inline-block;
    width: 200px;
    height: 200px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-top: 60px;
}

.soc_network_block {
    width: 174px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 0;
    top: 410px;
}

.soc_network_icon {
    height: 21px;
    height: 24px;
}

.soc_network_icon:hover {
    border: none;
}

.contact_picture {
    width: 327px;
    height: 365px;
    background-image: url(../img/работники\ 1.png);
    position: absolute;
    left: 290px;
    top: 200px;
}

.contact_form {
    width: 512px;
    height: 565px;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
}

.cont_form_title {   
    font-size: 24px;
    font-weight: 700;
    padding-top: 43px;
    margin-bottom: 55px;
}

.contact_icon {
    width: 25px;
    height: 25px;
    margin-right: 26px;
}
.cont_form_input {
    height: 53px;
    width: 395px;
    margin-bottom: 22px;
    border: 0px;
    border-radius: 3px;
    background-color: #E2E2E2;
    padding-left: 16px;
}

.contact_txt {
    width: 395px;
    height: 134px;
    border: 0px;
    border-radius: 3px;
    background-color: #E2E2E2;
    padding-left: 16px;
    padding-top: 16px;
    margin-bottom: 19px;
    resize: none;
}

.cont_form_approval {
    display: flex;
   
    padding-left: 60px;
   font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 32px;
}

.contact_link {
    font-weight: 600;
    color: #EF7F1A;
}
.contact_link:hover {
    color: #3B3A63;
    border: 0px;
}

.contact_batton {
    width: 258px;
    height: 52.45px;
    border-radius: 3px;
    border: 0px;
    background-color:  #2F2F51;
    opacity: 0.5;
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
}

.contact_batton:hover {
    background-color:  #2F2F51;
    opacity: 1;
    border: 2px solid #3B3A63;
    border-radius: 3px;
    font-weight: 700;
}

.footer {
    height: 146px;
    background-color: #2F2F51;
}

.footer_containrt {
    max-width: 1200px;
    height: 146px;
    margin: 0 auto;
    display: flex; 
    justify-content: space-between;   
    position: relative;
}

.footer_left {
    display: flex;
    position: absolute;
    top: 52px;
    line-height: 40px;
}
.footer_right {
    display: flex;
    position: absolute;
    top: 52px;
    right: 3px;
    line-height: 40px;
}

.footer_logo {
    display: block;
}

.footer_copyright {
    margin-left: 22px;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
}

.footer_link {
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    margin-left: 6px;
}

.footer_link:hover {
    color: #FFFFFF;
    border: none;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.99);
    top: 0;
    left: 0;
    z-index: 99;
    display: none;
}

.popup:target {
    display: block;
}

.popup_body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 0px 0px;
}

.popup_content {
    max-width: 800px;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 30px 30px 30px 30px;
    position: relative;
}

.popup_close {
    position: absolute;
    right: 8px;
    top: 8px;
}

.popup_body {
    font-weight: 100;
}

.popup_privacy {
    font-size: 24px;
    font-weight: 700;
}

@media screen and (max-width: 1200px) {
    .container {
        max-width: 880px;
        margin: 0 auto;
    }
    .burger {
        display: block;
        width: 45px;
        height: 45px;
        cursor: pointer;
        }
        .b1, .b2, .b3 {
        width: 45px;
        height: 5px;
        background-color: black;
        margin: 5px 0;
        transition: 0.3s;
    }
    .burger {
        width: 45px;
        height: 45px;
        cursor: pointer;
    }
    
    .b1, .b2, .b3 {
        width: 45px;
        height: 5px;
        background-color: black;
        margin: 5px 0;
        transition: 0.3s;
    }
    .burger:hover .b1 {
        transform: rotate(-45deg) translate(-8px, 6px);
    }
    .burger:hover .b3 {
        transform: rotate(45deg) translate(-8px, -6px);
     
    }
    .burger:hover .b2 {
        opacity: 0;
    }
    .nav {
        display: none;
    }
    .feedback_form {
        display: none;
    }
    .serv_card {
        margin-bottom: 30px;
    }
    .product_card {
        width: 880px;
        margin: 0 auto;
        margin-bottom: 60px;
    }
    .card-pict {
        width: 404px;
    }
    .product_txt {
        width: 476px;
    }
    .cont_warrant {
        width: 880px;
        height: 585px;
        margin: 0 auto;
        margin-bottom: 29px;
    }
    .warrant_iconCont {
        margin-left: 02px;
        width: 657px;
        margin: 0 auto;
        justify-content: space-around
    }
    .about_card {
        width: 800px;
    }
    .about_txt {
        width: 433px;
    }
    .about_txtLogo {
        margin-left: 28px;
    }
    .about_txtTXT {
        width: 277px;
        margin-left: 104px;
    }
    .about_pic {
        width: 447px;
        background-size: 447px 461px;
    }
    .about_icon {
        max-width: 800px;
    
    }
    .btn-1_ {
        margin-bottom: 0;
    }
    .portfolio_container {
        width: 958px;
    }
    .portfolio_container_item {
        width: 734px;
    }
    .portfolio_pic:last-child {
        display: none;
    }
    .questions_container {
        width: 880px;
        margin-bottom: 12px;
    }
    .quastions__block {
        width: 800px;
    }
    .contact_block {
        justify-content: space-around;
    }
}